.container-register {
    height: 100vh;
    margin: 0;
    background-image: url("../../images/background-login.png");
    padding: 3% 18.4%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .item-holder {
    margin: 2% 0;
  }
  
  .textbox-register {
    border: 0.3em solid black;
    font-family: "Press Start 2P", cursive;
    text-decoration: none;
    width: 45.5%;
    padding: 0.5% 0;
  }
  
  .textbox-register:hover {
    border: 0.3em solid grey;
  }
  
  .textbox-register-success {
    border: 0.3em solid green;
    font-family: "Press Start 2P", cursive;
    text-decoration: none;
    width: 45.5%;
    padding: 0.5% 0;
  }
  
  .textbox-register-success:hover {
    border: 0.3em solid lightgreen;
  }
  
  .textbox-register-error {
    border: 0.3em solid red;
    font-family: "Press Start 2P", cursive;
    text-decoration: none;
    width: 45.5%;
    padding: 0.5% 0;
  }
  
  .textbox-register-error:hover {
    border: 0.3em solid orangered;
  }
  
  .button-register-container {
    margin: 3% 0;
  }
  
  .button-register {
    font-family: "Press Start 2P", cursive;
    color: inherit;
    font-size: inherit;
    background: white;
    padding: 0.3rem 1.2rem;
    border: 3px solid black;
    margin-right: 2.6rem;
    box-shadow: 0 0 0 black;
    transition: all 0.2s;
  
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .button-register:last-child {
    margin: 0;
  }
  
  .button-register:hover {
    box-shadow: 0.4rem 0.4rem 0 black;
    transform: translate(-0.4rem, -0.4rem);
  }
  
  .button-register:active {
    box-shadow: 0 0 0 black;
    transform: translate(0, 0);
  }
  
  .options {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  #register-form-container {
    padding: 3.8% 0;
    font-size: 15px;
  }
  
  #title {
    background-color: black;
    color: white;
  }
  
  #progress-register {
    width: 45.5%;
    height: 20px;
  }
  
  #date-register {
    width: 45.5%;
  }
  
  #label-register {
    color: rgba(255, 255, 255, 0.747);
  }
  
  #register-form-container {
    background-color: darkslategray;
    opacity: 0.8;
    height: 100%;
  }
  
  @media (max-width: 400px) {
    .container-register {
      padding: 4% 0;
    }
  
    .textbox-register {
      width: 78%;
    }
    #progress-register {
      width: 78%;
    }
    #date-register {
      width: 78%;
    }
  }
  @media (min-width: 400px) and (max-width: 790px) {
    .container-register {
      padding: 4% 5%;
    }
    .textbox-register {
      width: 60%;
    }
    #progress-register {
      width: 60%;
    }
    #date-register {
      width: 60%;
    }
  }
  